/*单个插入的番剧*/
.PandaBangumi_Board
{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #fdf7f6;
    height: auto;
    min-height: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px  8px 0px #aaa;
    overflow: hidden;
    margin-top:20px;
    margin-bottom: 20px;
}

.PandaBangumi_Board_Img_Box
{
  position: absolute;
  overflow: hidden;
  top:7%;
  bottom: 7%;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0px 0px  8px 0px #aaa;
  
}
.PandaBangumi_Board img
{
  width: 100%;
  position: absolute;
  margin:0!important;
  padding:0!important;
}
.PandaBangumi_Board_Content
{
  position: absolute;
  top:7%;
  bottom:7%;
  right: 10px;
  margin-left: 10px;
  overflow: hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}
.PandaBangumi_Board_Content h2
{
  margin-top: 0!important;
  margin-bottom: 0.1em!important;
  padding-bottom: 0!important;
  line-height: 1!important;
  overflow: hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}
.PandaBangumi_Board_Content h2 a
{
  overflow: hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}
.PandaBangumi_Board_Content h4
{
  margin-bottom: 0.1em!important;
  margin-top:0.1em!important;
  overflow: hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
}
.PandaBangumi_Board_Summary
{
  width: 100%;
  height:100%;
  display: none;
  position: absolute;
  padding:15px;
  padding-right: 45px;
  border-radius: 8px;
  box-shadow: 0px 0px  8px 0px #aaa;
  background-color: rgba(0,0,0,0.85);
  color: whitesmoke;
  overflow: auto;
  z-index:9;
}
.PandaBangumi_Board_Info_Button
{
  display: inline-block;
  z-index: 10;
  position: absolute;
  top:12px;
  right:15px;
  height:32px;
  width: 32px!important;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 500;
  border:0;
  box-shadow: 0px 0px  4px 0px #aaa;
  background-color: #fdf7f6;
  color:#58666e;
}

.PandaBangumi-Pager
{
  line-height:1em;
  width:auto;
  font-size: 1em;
  border-radius: 3px;
  border:0;
  box-shadow: 0px 0px  4px 0px #aaa;
  background-color: #fdf7f6;
  color:#58666e;
  padding: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right:15px;
}
.PandaBangumi-Pager:hover
{
  color: black;
}

.PandaBangumi-Content
{
    display: inline-block;
    width:100%;
}
.PandaBangumi-item
{
    position: relative;
    height: 128px;
    border-radius:3px;
    box-shadow: 0px 0px  4px 0px #aaa;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 20px;
    float:left;
    background-color: #fdf7f6;
}
.PandaBangumi-thumb
{
    position: absolute;   
    width: 128px;
    left:0;
    top:0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 0px  4px 0px #aaa;
    margin:0!important;
    padding:0!important;
}
.PandaBangumi-content
{
    position: absolute;
    width: auto;
    height: 110px;
    right:2px;
    left:130px;
    top:5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.PandaBangumi-status-bar
{
    position: absolute;
    height: 12px;
    left: 130px;
    bottom:5px;
    border-radius: 3px;
    background-color: #f3ab9a;
}
.PandaBangumi-content .PandaBangumi-content-title
{
    font-size: 20px;
    line-height: 20px;
    top:0;
    margin:2px;
    margin-top:4px;
    font-weight: bolder;
    overflow: hidden!important;
    text-overflow:ellipsis!important;
    white-space:nowrap!important;
}
.PandaBangumi-content .PandaBangumi-content-title-jp
{
    font-size: 16px;
    line-height: 16px;
    margin: 1px!important;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.PandaBangumi-content-des
{
    font-size:13px!important;
    line-height: 14px!important;
    margin:4px!important;
    margin-top:4px!important;
}
#PandaBangumi-collections-holder
{
    display: inline-block;
    width:100%;
}
#PandaBangumi-collections
{
    display: inline-block;
    width:100%;
}
#PandaBangumi-calendar
{
    margin-top:10px;
    display: block;
    float:top;
}
.loading-text
{
    animation: Shake-Shake .5s reverse infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.bangumi_loading
{
	padding:50px 0;
}
.loading-anim {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  perspective: 800px;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(-90deg) rotateX(90deg) rotateZ(90deg) scale(0.5);
  opacity: 0;
  transition: all .2s ease-out;
}
.loading-anim .circle {
  width: 100%;
  height: 100%;
  animation: spin 5s linear infinite;
}
.loading-anim .border {
  position: absolute;
  border-radius: 50%;
  border: 3px solid #e34981;
}
.loading-anim .out {
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spin 2s linear reverse infinite;
}
.loading-anim .in {
  top: 18%;
  left: 18%;
  width: 64%;
  height: 64%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}
.loading-anim .mid {
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}

.loading-anim {
  transform: translateZ(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1);
  opacity: 1;
}

.dot {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e34981;
  animation: jitter 5s ease-in-out infinite, fade-in-out 5s linear infinite;
}

.dot:nth-child(1) {
  top: 90px;
  left: 180px;
  animation-delay: 0s;
}

.dot:nth-child(2) {
  top: 135px;
  left: 168px;
  animation-delay: 0.41667s;
}

.dot:nth-child(3) {
  top: 168px;
  left: 135px;
  animation-delay: 0.83333s;
}

.dot:nth-child(4) {
  top: 180px;
  left: 90px;
  animation-delay: 1.25s;
}

.dot:nth-child(5) {
  top: 168px;
  left: 45px;
  animation-delay: 1.66667s;
}

.dot:nth-child(6) {
  top: 135px;
  left: 12px;
  animation-delay: 2.08333s;
}

.dot:nth-child(7) {
  top: 90px;
  left: 0px;
  animation-delay: 2.5s;
}

.dot:nth-child(8) {
  top: 45px;
  left: 12px;
  animation-delay: 2.91667s;
}

.dot:nth-child(9) {
  top: 12px;
  left: 45px;
  animation-delay: 3.33333s;
}

.dot:nth-child(10) {
  top: 0px;
  left: 90px;
  animation-delay: 3.75s;
}

.dot:nth-child(11) {
  top: 12px;
  left: 135px;
  animation-delay: 4.16667s;
}

.dot:nth-child(12) {
  top: 45px;
  left: 168px;
  animation-delay: 4.58333s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes jitter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.7, 0.7);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.2;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes Shake-Shake{
  0%{
      text-shadow: 0 0 rgba(0, 255, 255, .5), 0 0 rgba(255, 0, 0, .5);
  }
  25%{
      text-shadow: -1px 0 rgba(0, 255, 255, .5), 1px 0 rgba(255, 0, 0, .5);
  }
  50%{
      text-shadow: -3px 0 rgba(0, 255, 255, .5), 2px 0 rgba(255, 0, 0, .5);
  }
  100%{
      text-shadow: 2px 0 rgba(0, 255, 255, .5), 3px 0 rgba(255, 0, 0, .5);
  }
}